@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0;} /* 把浏览器所有元素的默认的外边距与内填充设为0*/

#header,#nav,#banner,#content,#footer-link,#footer { width:999px; margin:0 auto;}

#header {width:999px; height:100px; background:#fff;} /* 常用声明 -- margin:0 auto; 设置了元素上下边距为0，左右自动 */
#header .logo { width:245px; height:22px; float:left;}
#header .search { width:228px; height:28px; float:right;}

#nav { height:59px; background:black; } 
#banner { height:463px;}
#content { height:546px; background:green; }
#footer-link { height:252px; background:yellow;}
#footer {  height:81px; background:blue;}